FRAUD_RAW_DATA_DIR=data/original
FRAUD_INTERIM_DATA_DIR=data/interim
FRAUD_PROCESSED_DATA_DIR=data/processed
FRAUD_ARTIFACTS_DIR=artifacts

TRANSACTIONS_FILE=HI-Large_Trans.csv
ACCOUNTS_FILE=HI-Large_accounts.csv
PATTERNS_FILE=HI-Large_patterns.txt